<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
  <h2>Clients ({{getClientsCount()}})</h2>
  <div class="btn-toolbar mb-2 mb-md-0">
    <button class="btn btn-sm btn-outline-secondary" (click)="addClient()">
      <fa-icon icon="plus"></fa-icon>
       New Client
    </button>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>STREET</th>
        <th>CITY</th>
        <th>STATE</th>
        <th>ZIP</th>
        <th>CREATED</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of getClients()">
        <td><a [routerLink]="[client.id]">{{client.id}}</a></td>
        <td>{{client.name}}</td>
        <td>{{client.addressStreet}}</td>
        <td>{{client.addressCity}}</td>
        <td>{{client.addressState}}</td>
        <td>{{client.addressZip}}</td>
        <td>{{client.createdDate | date:'shortDate'}}</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- 
<a routerLink="100">Client 100</a> -->