.products-container {
  max-height: 500px;
  overflow: auto;
}

.mat-input-unitprice {
  margin-bottom: -1.25em;   /* make input vertically center aligned */
  max-width: 100px !important;
  text-align: right !important;
}

.mat-row.selected {
   background: #eafaea;
}