<h3 mat-dialog-title><fa-icon icon="truck" size="2x"></fa-icon> New Delivery Route</h3>
<div mat-dialog-content>
  <form [formGroup]="deliveryRouteFG" class="form-container">
    <mat-form-field appearance="outline">
      <mat-label>ID</mat-label>
      <input matInput placeholder="Delivery route name" formControlName="id">
      <mat-error>This field is required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <input matInput placeholder="Description" formControlName="description">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Driver Name</mat-label>
      <input matInput placeholder="Driver name" formControlName="driverName">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Driver Phone</mat-label>
      <input matInput placeholder="Driver phone #" formControlName="driverPhone" [textMask]="{mask: phoneMask}">
    </mat-form-field>
  </form>
</div>
<mat-divider></mat-divider>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="end">
  <button mat-raised-button [mat-dialog-close]="false">Cancel</button>
  <button mat-raised-button [disabled]="deliveryRouteFG.invalid" (click)="create()" color="green">Create</button>
</div>