<div class="public-body">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#"><img border="0" alt="Company Logo" src={{getCompanyLogo()}} width="40" height="40"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/home">Who We Are</a></li>
        <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/client">Whom We Serve</a></li>
        <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/product">What We Serve</a></li>
        <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/process">How We Serve</a></li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/contactus"><fa-icon icon="mobile"></fa-icon> Contact Us</a></li>
        <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/login"><fa-icon icon="sign-in-alt"></fa-icon> Login</a></li>
       </ul>
    </div>
  </nav>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>