/* You can add global styles to this file, and also import other style files */

/* TO DO: replace pre-built in theme with custom theme.*/
@import '@angular/material/prebuilt-themes/indigo-pink.css';

main {
	margin-left: 50px;
	margin-right: 50px;
	padding: 70px;
	background-color: white;
	height: 100%;
  min-height: 100vh;
}

.public-body {
	width: 100%;
	background: url('/assets/img/bg.jpg') repeat-y center top; 
	background-size: 100% 100%;
	/*padding-top: 70px;*/
}

.auth-body {
	height: 100vh;
	width: 100%;
}

/****** Mat Card ******/
.mat-card-content {
  margin-top: 20px;
}

.mat-card-avatar {
  margin-right: 10px;
}

/* Give first button right margin */
.mat-card-actions .mat-button:first-child,
.mat-card-actions .mat-raised-button:first-child {
  margin-right: 8px !important;
}
/****** Table ******/
table {
  width: 100%;
}

/*td, th {
  width: 25%;
}
*/
th {
  font-weight: 900;
}


/****** Button ******/
button.action {
  margin-right: 10px;
  margin-left: 10px;
  min-width: 100px !important;
}

.btn-toolbar .btn {
  color: white;
  background-color: #2eb82e;
}

.mat-green {
	color: white;
  background-color: #2eb82e;
}

/****** Text ******/
span.thick {
  font-weight: bold;
}

span.key {
  font-family: Arial Black, Gadget, sans-serif;
}

span.new-icon {
  margin-left: 5px;
}

p.thick {
  font-weight: bold;
}

.right {
  text-align: right;
}

.status-submitted {
  color: orange;
  font-weight: 500;
  font-family: Tahoma, Geneva, sans-serif;
}

.status-processed {
  color: brown;
  font-weight: 500;
  font-family: Tahoma, Geneva, sans-serif;
}

.status-shipped {
  color: red;
  font-weight: 500;
  font-family: Tahoma, Geneva, sans-serif;
}

.status-completed {
  color: green;
  font-weight: 500;
  font-family: Tahoma, Geneva, sans-serif;
}

.status-cancelled {
  color: gray;
  font-weight: 500;
  font-family: Tahoma, Geneva, sans-serif;
}

/****** Form ******/
.form-container {
  display: flex;
  flex-direction: column;
}

.form-container > * {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
  /*min-width: 300px;*/
}

.mat-form-filed.input {
  background-color: rgba(192, 192, 192, .2);
  border-color: rgba(255, 255, 255, .1);  
}

/****** Spinner ******/
.mat-spinner {
  position: relative;
  margin-left: 50%;
}

/****** Misc ******/
.companyName {
  font-size: 150%;
  color: rgba(0, 0, 0, .9);
  text-decoration: none !important;
  margin-right: 10px;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

div.round-corners {
  border-radius: 15px;
  border: 1px solid #e6e6e6;
  padding: 20px;
}

div.message-body {
  white-space: pre-wrap;
}
