
.avatar {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user-email h3, .user-email p {
  display: inline;
  vertical-align: top;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 28px;
}

.user-email h3 {
  font-weight: bold;
}

/*
 * Navbar
 */

.navbar {
  padding: 1px 16px;
  border-bottom: 2px solid #1a1aff;  
}

.navbar-nav li a {
  line-height: 40px;
}
