th, td {
  width: initial;
} 

.table-responsive {
  overflow-x: initial;    /* gets rid of scroll bar*/
}

.mat-column-id {
  max-width: 50px;
}

.mat-column-subTotal {
  max-width: 50px;
  text-align: right;
}

.mat-input-qty {
  margin-bottom: -1.25em;   /* make input vertically center aligned */
  max-width: 70px !important;
  text-align: right !important;
}

.text-box {
  border-radius: 15px;
  border: 1px solid lightgray;
  padding: 5px;
  min-height: 40px;
}

.full-width {
  width: 100%;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
