<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
  <h2>Messages</h2>
  <div class="btn-toolbar mb-2 mb-md-0">
    <button mat-raised-button color="green" (click)="newMessage()">
      <fa-icon icon="plus"></fa-icon>
       New Message
    </button>
  </div>
</div>
<div class="table-responsive">
  <div class="mat-elevation-z8">
    <div class="order-button-row" fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="center space-between">
<!--       <button mat-stroked-button (click)="markAsRead()" matTooltip="Mark selected messages as read" [disabled]="selections.selected.length==0"><fa-icon icon="envelope-open"></fa-icon> Mark as read</button> -->
      <button mat-stroked-button (click)="delete()" matTooltip="Delete selected messages" [disabled]="selections.selected.length == 0"><fa-icon icon="trash-alt"></fa-icon> Delete</button>
    </div>    
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
    </mat-form-field>
    <table mat-table [dataSource]="messages" matSort>
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selections.hasValue() && isAllSelected()"
                        [indeterminate]="selections.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selections.toggle(row) : null"
                        [checked]="selections.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> TYPE </th>
        <td mat-cell *matCellDef="let row"><fa-icon icon="{{messageTypeIcon(row.messageType)}}" matTooltip="{{row.messageType}}" matTooltipPosition="right"></fa-icon></td>
      </ng-container>
      <ng-container matColumnDef="from">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> FROM </th>
        <td mat-cell *matCellDef="let row">
          <div [ngClass]="row.read ? 'read' : 'unread'"> {{row.fromUser}} </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="subject">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> SUBJECT </th>
        <td mat-cell *matCellDef="let row">
          <div [ngClass]="row.read ? 'read' : 'unread'"> {{row.subject}} </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> DATE </th>
        <td mat-cell *matCellDef="let row"> {{row.createdAt | date:'shortDate'}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="readMessage(row)"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[25, 50, 100]"></mat-paginator>
  </div>
</div>
