<h3 mat-dialog-title>Inventory Check</h3>
<div mat-dialog-content>
  <div fxLayout="column" fxLayoutGap="10px" faLayoutAlign="center">
    <div fxLayout="row" fxLayoutGap="20px">
      <div><span class="thick">Order ID :</span></div>
      <div fxLayout="row wrap" fxLayoutGap="20px">
        <div *ngFor="let orderId of dialogData.orderIds">{{orderId}}</div>
      </div>
    </div>
    <div *ngIf="showSpinner; else elseBlock">
      <mat-spinner></mat-spinner>
    </div>
    <ng-template #elseBlock>
      <div><span class="thick">Product List:</span></div>
      <div>
        <table mat-table [dataSource]="productList" matSort>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let row">{{row.id}}</td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> NAME </th>
            <td mat-cell *matCellDef="let row">
              <span *ngIf="row.settings.imageUrl; else noImage">
                <img src={{row.settings.imageUrl}} height="50" width="50">
              </span>
              <ng-template #noImage>
                <img src='/assets/img/no-picture.png' height="50" width="50">
              </ng-template>
               {{row.name}}
            </td>
          </ng-container>
          <ng-container matColumnDef="description" class="mat-column-description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> DESCRIPTION </th>
            <td mat-cell *matCellDef="let row"> {{row.description}} </td>
          </ng-container>
          <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> CATEGORY </th>
            <td mat-cell *matCellDef="let row"> {{row.category}} </td>
          </ng-container>
          <ng-container matColumnDef="totalOrderCount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ORDER QTY </th>
            <td mat-cell *matCellDef="let row"> {{row.totalOrderCount}} </td>
          </ng-container>
          <ng-container matColumnDef="inventoryCount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> INVENTORY QTY </th>
            <td mat-cell *matCellDef="let row"> {{row.inventoryCount}} </td>
          </ng-container>
        </table>
      </div>
    </ng-template>
  </div>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="end">
  <button mat-raised-button class="action" [mat-dialog-close]="false">Close</button>
  <button mat-raised-button class="action" [disabled]="dialogData.orderIds.length===0" (click)="generatePDF()"><fa-icon icon="file-pdf"></fa-icon> Generate PDF</button>
</div>