<h3 mat-dialog-title><fa-icon icon="cog" size="2x"></fa-icon> Settings</h3>
<div mat-dialog-content>
  <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="center space-between">
    <div>
      <p class="thick">To be implemented.</p>
      <p>This dialog is to contain the list of product and allows user to select the ones to exclude from the 'new order' page.</p>
    </div>
  </div>
</div>
<mat-divider></mat-divider>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="end">
  <button mat-raised-button class="action" [mat-dialog-close]="false">Cancel</button>
  <!-- <button mat-raised-button class="action" [disabled]="companyInfoFG.invalid" (click)="save()" color="green">Save</button> -->
</div>
