<div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center">
  <div *ngIf="chartTitle">
    <h3>{{chartTitle}}</h3>
  </div>
  <div fxLayout="row wrap" fxLayoutGap="100px" fxLayoutAlign="center space-between">
    <div fxFlex="nogrow">
      <mat-form-field style="width: 100px">
        <mat-label>Day Range</mat-label>
        <mat-select [formControl]="rangeSelection">
          <mat-option *ngFor="let range of ranges" [value]="range.label">
            {{range.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxFlex="nogrow">
      <mat-form-field style="width: 50px">
        <mat-label>Limit</mat-label>
        <mat-select [formControl]="limitSelection">
          <mat-option *ngFor="let limit of limits" [value]="limit">
            {{limit}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div *ngIf="showSpinner">
    <mat-spinner strokeWidth="3" [diameter]="50"></mat-spinner>
  </div>
  <google-chart [data]="rankChart" (chartReady)="onReadyChart()"></google-chart>
</div>