<div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center">
  <h3>{{chartTitle}}</h3>
  <div fxLayout="row wrap" fxLayoutGap="20px">
    <div fxFlex="nogrow">
      <mat-form-field>
        <mat-label>Day Range</mat-label>
        <mat-select [formControl]="rangeSelection">
          <mat-option *ngFor="let range of ranges" [value]="range.label">
            {{range.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>  
  <google-chart [data]="rankChart"></google-chart>
</div>