td, th {
  padding-left: 5px;
  padding-right: 5px;
}

.mat-column-description {
  word-wrap: break-word !important;
  white-space: unset !important;
  min-width: 400px !important;
  overflow-wrap: break-word;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}