td, th {
  padding-left: 10px;
  padding-right: 10px;
}

span.id {
  color: blue;
}

.mat-column-product-description {
  word-wrap: break-word !important;
  white-space: unset !important;
  min-width: 400px !important;
  overflow-wrap: break-word;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}