<h3 mat-dialog-title>{{data.title}}</h3>
<div *ngIf="data.content">
  <mat-dialog-content>{{data.content}}</mat-dialog-content>
</div>
<mat-divider></mat-divider>
<div mat-dialog-actions>
  <button mat-raised-button class="action" [mat-dialog-close]="false">Cancel</button>
  <button mat-raised-button class="action" [color]="data.confirmColor ? data.confirmColor : 'green'" [mat-dialog-close]="true" cdkFocusInitial>
      <fa-icon *ngIf="data.confirmIcon" [icon]="data.confirmIcon"></fa-icon> {{data.confirmLabel}}</button>
</div>