<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
  <h2>Delivery Routes ({{getDeliveryRoutesCount()}})</h2>
  <div class="btn-toolbar mb-2 mb-md-0">
    <button mat-raised-button color="green" (click)="addDeliveryRoute()">
      <fa-icon icon="plus"></fa-icon>
       New Delivery Route
    </button>
  </div>
</div>
<div class="table-responsive">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
  </mat-form-field>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="getDeliveryRoutes()" matSort>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"><a [routerLink]="[row.id]">{{row.id}}</a></td>
      </ng-container>
      <ng-container matColumnDef="driverName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> DRIVER NAME </th>
        <td mat-cell *matCellDef="let row"> {{row.driverName}} </td>
      </ng-container>
      <ng-container matColumnDef="driverPhone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> DRIVER PHONE </th>
        <td mat-cell *matCellDef="let row"> {{row.driverPhone}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[25, 50, 100]"></mat-paginator>
  </div>
</div>